/* Menu:
  1 - Geral
  2 - Form
*/

/* 1 - Geral */
:root {
  --primary-black: #333;
  --secondary-black: #252525;
  --primary-white: #fafafa;
  --primary-grey: #e7e4d8;
  --grey-footer: #d6d3c8;
  --moustard: #DEB959;
  --blue-site: #2C5680;
}


/* 2 - Form */
#form h1 {
  padding-top: 30px;
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: bolder;
}
#form p {
  font-size: 1.7em;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 7px;
  margin: 0 auto;
  display: block;
  width: 810px;
  /* border: 1px solid palevioletred; */
}
.form-list {
  /* border: 3px solid green; */
  /* text-align: center; */
}
#form input::placeholder {
  font-style: italic;
  font-size: 0.7em;
}
#form input {
  /* border: 2px solid red; */
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 1.125em;
  margin: 0 auto;
  position: relative;
  display: block;
  border: 1px solid var(--primary-black);  
  width: 800px;
  background-color: var(--primary-grey);
}
.form-message {
  height: 250px;
  background: var(--gray);
  margin-bottom: 50px;
  border: 1px solid var(--black);

}

#form button {
  text-align: center;
  text-decoration: none;
  font-size: 1.7em;
  display: block;
  margin-top: 50px;
  width: 130px;
  margin-bottom: 50px;
  margin-left: 45%;
  color: var(--primary-white);
  background-color: var(--blue-site);
  cursor: pointer;
  border: 1px solid var(--blue-site);
}
#form button:hover{
  background: var(--white);
  color: var(--blue-site);
  border: 1px solid var(--blue-site);
}
