/* Menu:
    1 - Geral
    2 - Header
    3 - Slider
    4 - About
    5 - Values
    6 - Exemples
    7 - Footer
*/


/* 1 - Geral */
:root {
    --primary-black: #333;
    --secondary-black: #252525;
    --primary-white: #fafafa;
    --primary-grey: #e7e4d8;
    --grey-footer: #d6d3c8;
    --moustard: #DEB959;
    --blue-site: #2C5680;
}
.container {
    width: 960px;
    margin: 0 auto;
}
body {
    font-family: 'Darker Grotesque', sans-serif;
}

h2 {
    color: #DEB959;
}


/* 2 - Header */
#menu {
    /* border: 2px solid red; */
    background-color: #85CDF5;
}
#menu .container {
    text-align: center;
    /* border: 3px solid purple; */
    display: block;
}
.button-menu {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--primary-black);
    /* border: 1px solid blue; */
    display: inline-block;
    position: absolute;
    margin-top: 30px;
}
.button-menu::after {
    content: "";
    display: block;
    width: 7px;
    height: 3px;
    background-color: var(--primary-black);
    transition: .7s;
}
.lft-to-rgt {
    margin-left: -450px;
}
.lft-to-rgt:hover::after {
    width: 122px;
    transition: .9s;
}
.rgt-to-lft {
    margin-left: 350px;
}
.rgt-to-lft::after {
    width: 7px;
    margin-left: 90px;
}
.rgt-to-lft:hover::after {
    width: 100px;
    margin-left: -1px;
    transition: .7s;
}
.logo-menu {
    height: 100px;
    max-height: 75px;
    margin-top: 10px;
    /* border: 2px solid green; */
    position: relative;
}


/* 3 - Slider */
#slider {
    /* border: 3px solid green; */
    width: 960px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    /* border: 4px solid red; */
    max-height: 480px;
    width: 1350px;
    margin: auto;
    margin-left: -200px;
    overflow: hidden;
    background-position: center;
    background: rgba(0, 0, 0, 0.15);
    /* object-fit: cover; */
}

.fade img{
    opacity: 1;
}

#slider h1 {
    font-size: 3.25em;
    font-weight:bolder;
    text-align: center;
    color: var(--primary-white);
}

.slider-titlebox {
    position: absolute;
    margin: 100px 300px;
    color: black;
}

#slider h1::after {
    content: "";
    display: block;
    width: 30px;
    margin: 10px auto;
    height: 3px;
    background-color: var(--primary-white);
    transition: .7s;
}

#slider h1:hover:after {
    width: 340px;
    transition: .7s;
}

#slider p {
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    color: var(--primary-white);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--primary-white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    font-size: 2em;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #85CDF5;
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.7s ease;
}

.slider-dots {
    margin-left: 450px;
    position: absolute;
    margin-top: -35px;
}

.active, .dot:hover {
    background-color: #717171;
}


/* 4 - About */
#about {
    border: 1px solid #2C5680;
    background: #2C5680;
    text-align: center;
}

#about h2 {
    font-size: 2.125em;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 30px;
}

#about p {
    margin-bottom: 60px;
    font-size: 1.125em;
}


/* 5 - Values */
#values {
    /* border: 2px solid red; */
    background: var(--primary-black);
}

#values h2 {
    font-size: 2.125em;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

#values h3 {
    font-size: 1.5em;
    font-weight: bold;
}

#values p {
    font-size: 1.125em;
}

#values .container {
    /* border: 1px solid purple; */
    border: 1px solid var(--primary-black);
}

.values-item {
    display: inline-block;
    /* border: 1px solid blue; */
    max-width: 180px;
    margin-right: 5px;
    margin-left: 37px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}
.v-one::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    background-position: center;
    background: url(../assets/img/insurance.png);
    background-color: var(--grey-footer);
    background-size: 120px 120px;
    border-radius: 50%;
}
.v-two::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    background-position: center;
    background: url(../assets/img/care.png);
    background-color: var(--grey-footer);
    background-size: 120px 120px;
    border-radius: 50%;
}
.v-three::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    background-position: center;
    background: url(../assets/img/frame.png);
    background-color: var(--grey-footer);
    background-size: 120px 120px;
    border-radius: 50%;
}
.v-four::before {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    background-position: center;
    background: url(../assets/img/rescue-dog.png);
    background-color: var(--grey-footer);
    background-size: 120px 120px;
    border-radius: 50%;
}



/* 6 - Exemples */
#exemples {
    border: 1px solid var(--primary-black);
    background-color: var(--primary-white);
}


#exemples h2{
    font-size: 2.125em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}
#exemples h3 {
    font-size: 1.55em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
}


.exemples-text-regular {
    font-size: 1.25em;
    width: 300px;
    /* border: 2px solid rebeccapurple; */
    display: inline-block;
    margin-left: 50px;
}
.exemples-text-especial {
    font-size: 1.25em;
    width: 300px;
    height: 220px;
    margin-top: 40px;
    margin-left: 200px;
    /* border: 2px solid fuchsia; */
    display: inline-block;
}


.especial {
    margin-left: 0;
    /* border: 2px solid blue; */
    height: 300px;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;
}
.regular{
    /* margin-left: 0; */
    /* border: 2px solid fuchsia; */
    height: 300px;
    display: block;
}


.exemples-item img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border: 3px solid var(--primary-black);
    box-shadow: -30px -30px 0 #2C5680, -30px -30px 0 4px var(--primary-black);
    display: inline-block;
}
.especial img {
    box-shadow: 30px -30px 0 #2C5680, 30px -30px 0 4px var(--primary-black);
    margin-left: 350px;
    margin-top: -370px;
}


/* 7 - Footer */
footer {
    border: 5px solid var(--primary-black);
    position: sticky;
    background-color: var(--primary-black);
}
.footer-text {
    font-size: 1.125em;
    font-weight: bold;
    color: var(--primary-white);
    border: 2px solid var(--primary-black);
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 70px;
}

.footer-map {
    width: 300px;
    margin-top: 30px;
    margin-bottom: -50px;
    display: inline-block;
}
.button-footer {
    text-decoration: none;
    font-size: 1.125em;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    margin-top: 200px;
    margin-left: -115px;
    padding: 5px 15px;
    
    background-color: var(--moustard);
    color: var(--blue-site);
}
.button-footer:hover {
    color: var(--moustard);
    background-color: var(--blue-site);
}
